.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #191c24;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: 108px auto 0;
    width: 600px;
}


/*old one*/
/*.forgetPassword-holder {
    border-radius: 8px;
    width: 610px;
    position: relative;
    overflow: hidden;
    outline: none;
    margin: 155px auto 0;
    padding: 20px;
    transition: all 0.3s;
    box-shadow: 0 0.8px 2.2px rgba(0, 0, 0, 0.034), 
                0 5.7px 5.3px rgba(0, 0, 0, 0.048), 
                0 11.5px 10px rgba(0, 0, 0, 0.06), 
                0 21.3px 17.9px rgba(0, 0, 0, 0.072),
                0 40.8px 33.4px rgba(0, 0, 0, 0.086), 
                0 99px 80px rgba(0, 0, 0, 0.12);
    
}

.form-title {
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: Franklin Gothic Medium;
    margin: 5px;
}

.inputNewPass {
    padding: 12px 20px;
    margin: 8px 0px 0px 76px;
    box-sizing: border-box;
    width: 300px;
    border: 2px solid #3b4142;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: white;
    color: black;
}

element.style {
    color: red;
    display: inline;
    text-align:center;
    margin-left:80px;
}

.input-conf-pass {
    padding: 12px 20px;
    margin: 8px 0px 0px 76px;
    box-sizing: border-box;
    width: 300px;
    border: 2px solid #3b4142;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: white;
    color: black;
}*/


