th {
    border:none;
    border-top: 1px solid white;
}

td {
    font-size: 15px;
    line-height: 1.4;
    background-color: #191c24;
    color:white;
    border: none;
    border-top: 1px solid white;
    text-align: left;
}

.gv-section .row {
    margin: 0 !important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding:16px;
}

.dataTables_length {
    float: left;
}

.dataTables_info {
    float: left;
}

table.dataTable tbody td {
    padding: 20px 10px !important;
}

.dataTable > thead > tr > th[class*="sort"]:before,
.dataTable > thead > tr > th[class*="sort"]:after {
    content: "" !important;
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_info {
    color: white;
}

.paging_full_numbers a.paginate_button {
    color: #fff !important;
}

.paging_full_numbers a.paginate_active {
    color: #fff !important;
}

.paging_full_numbers a.paginate_button {
    color: #fff !important;
}

.paging_full_numbers a.paginate_active {
    color: #fff !important;
}

.dataTables_length label {
    display: flex;
    align-items: center;
}